@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 280 50% 90%;
    --foreground: 280 60% 15%;
    --card: 280 50% 98%;
    --card-foreground: 280 60% 15%;
    --popover: 280 50% 98%;
    --popover-foreground: 280 60% 15%;
    --primary: 280 60% 35%;
    --primary-foreground: 280 10% 98%;
    --secondary: 280 30% 85%;
    --secondary-foreground: 280 60% 15%;
    --muted: 280 30% 85%;
    --muted-foreground: 280 60% 30%;
    --accent: 280 30% 85%;
    --accent-foreground: 280 60% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 280 60% 70%;
    --input: 280 60% 70%;
    --ring: 280 60% 35%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
